@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu&display=swap');


 body {
    background-image: url(./Homescreen.png);
    background-size: cover;
    font-family: 'Anek Telugu', sans-serif;
}

.link{
    color: #000;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgba(192, 189, 189, 0.455);
    display: table-cell;
    vertical-align: middle;
}

.link img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 45px;
}

.zoom-box {
    transition: transform .2s;
}

.zoom-box:hover {
    transform: scale(1.07);
  }

  .clock-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.clock-inner .date {
    letter-spacing: 2px;
    font-size: 35px;
    flex-wrap: nowrap;
}

.clock-inner .time {
    font-size: 50px;
    flex-wrap: nowrap;
}

.clock {
    width: 700px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 100px;
}

.weather {
    bottom: -455px;
    border-radius: 25px;
    
}

